body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar, .navbar-default, .navbar-fixed-top {
    background-color: #CDC3BE;
}

.roblogo {
    height: 50px;
    width: 55px;
    margin-top: -15px;
}

.title-screen,
.jumbotron {
    height: 760px;
    background-image: url(../../images/Research1.jpg);
    background-size: cover;
    background-position: center;
}


.rob-research {
    margin-left: 290px;
    margin-top: 200px;
    width: 520px;
    text-align: center;
    color: #58AAC5;
    text-shadow: 4px 4px 4px #000000;
}

.who-section, .rates-section{
    height: 740px;
    background-color: #CDC3BE;
    margin-bottom: 35px;
}

.who-title{
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.who-am-i {

    width: 500px;
    float: right;

}

.services-section {
    height: 740px;
    background-color: #FAFAFA;
    margin-bottom: 35px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.footer {
    height: 350px;
    background-image: url(../../images/Research1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 35px;
}