#MainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: Droid Sans;
}


.Header p{
    width: 100%;
    height: 150px;
   
    }

.Header p {
    margin: 0 auto;
    width: 550px;
    height: 45px;
    margin-top: 65px;
    font-size: 45px;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.FrontPage {
    width: 100%;
    height: 650px;
    background: url('/images/FrontPageImage.png');
    background-position: center;
    position: relative;
   
    
}

.BriefIntro {
    margin: -100px;
    height: 200px;
    width: 700px;
    background-color: antiquewhite;
    position: absolute;
    z-index: 10;
    
        
}



.MenuSection {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Testimonials {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.InfoBar {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Footer {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}