
body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar, .navbar-default, .navbar-fixed-top {
    background-color: #CDC3BE;
}

.roblogo {
    height: 50px;
    width: 55px;
    margin-top: -15px;
}

.title-screen,
.jumbotron {
    height: 760px;
    background-image: url(../../images/Research1.jpg);
    background-size: cover;
    background-position: center;
}

.rob-research {
    margin: 0 auto;
    margin-top: 150px;
    width: 520px;
    text-align: center;
    color: #58AAC5;
    text-shadow: 4px 4px 4px #000000;
    
}

.who-section, .testimonials-section{
    height: 740px;
    background-color: #CDC3BE;
    margin-bottom: 35px;
}

.who-title{
    margin-top: 100px;
    color: #FAFAFA;
    font-size: 56px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.who-am-i {
margin-top: 5%;
    margin-right: 15%;
    width: 500px;
    float: right;
}

.headshot {
float: left;
 height: 300px;
    margin-top: 5%;
    margin-left: 20%;
}

.services-section {
    height: 740px;
    background-color: #FAFAFA;
    margin-bottom: 35px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.services-title{
    margin-top: 100px;
    color: #CDC3BE;
    font-size: 56px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.authors, .lawyers, .academic, .government {
text-align: center;
    margin-top: 3%;
}

#author-image {
 width: 75%;
}

#lawyer-image {
    width: 75%;
}

#academic-image {
    width: 75%;
}

#government-image {
    width: 75%;
}

.testimonials-title{
    margin-top: 100px;
    color: #FAFAFA;
    font-size: 56px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.testimonials-section p {
text-align: center;
    font-size: 18px;
}

.footer {
    height: 350px;
    background-image: url(../../images/Research1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 35px;
}


@media screen and (max-width:992px) {
    
.rob-research {
    margin: 0 auto;
    margin-top: 150px;
}
    .headshot {
        height: 300px;
        margin-left: 5%;
    }
    
    .who-am-i {
        margin-right: 5%;
        width: 400px;
    }  
}

@media screen and (max-width:768px) {
    
    
    .rob-research h1 {
     font-size: 56px;
        width: 300px;
        margin-left: 20%;
   }
    
     .rob-research p {
    margin-left: 20%;
        width: 300px;
   }
    
    .headshot {
       height: 200px;
    
}
    
    .who-am-i {
        width: 300px;
    }
    
    .who-section {
        height: 850px;
        align-content: center;
    }
    
    .services-section {
    height: 840px;
    }
    
    #author-image {
 width: 75%;
}

#lawyer-image {
    width: 75%;
}

#academic-image {
    width: 75%;
}
    
    #government-image {
    width: 75%
    }
    
    .footer {
        height: 100px;
    }
}


