body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar, .navbar-default, .navbar-fixed-top {
    background-color: #CDC3BE;
}

.roblogo {
    height: 50px;
    width: 55px;
    margin-top: -15px;
}

.title-screen,
.jumbotron {
    height: 740px;
    background-image: url(../../images/Research1.jpg);
    background-size: cover;
    background-position: center;
}


.rob-research {
    margin-left: 290px;
    margin-top: 200px;
    width: 520px;
    text-align: center;
    color: #58AAC5;
    text-shadow: 4px 4px 4px #000000;
}