#MainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: Droid Sans;
}


.Header {
    width: 100%;
    height: 100px;
    }

.Header p {
    margin: 0 auto;
    width: 550px;
    height: 45px;
    margin-top: 65px;
    font-size: 45px;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.FrontPage {
    width: 100%;
    height: 650px;
    background: url('/images/FrontPageImage.png');
    background-position: center;
    position: relative;
    z-index: 1;
    
}

.FrontPage div {
    margin: 0 auto;
    height: 200px;
    width: 700px;
    background-color: antiquewhite;
    border-radius: 25px;
   
        
}

.BriefIntro p:nth-child(1) {
    margin-top: 25px;
    position: relative;
    z-index: 0;
    align-content: center;
        
}

.MenuSection {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Testimonials {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.InfoBar {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Footer {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}