#MainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    font-family: Droid Sans;
}


.Header {
    width: 100%;
    height: 100px;
    }

.Header p {
    margin: 0 auto;
    width: 550px;
    height: 45px;
    margin-top: 65px;
    font-size: 45px;
}


#NavBarContainer {
    width: 100%;
    height: 40px;
    background-color: #8ACFFF;
}

.NavBar {
    margin: 0 auto;
    overflow: auto;
    height: 40px;
    width: 630px;
    padding-left: 100px;
   
}

.NavBar div {
    float: left;
    margin-right: 55px;
    margin-top: 10px;
    font-size: 18px;
}

.FrontPage {
    width: 100%;
    height: 650px;
    background: url('/images/FrontPageImage.png');
    background-position: center;
    
}


.MenuSection {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Testimonials {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.InfoBar {
    width: 100%;
    height: 325px;
    border: 1px solid black;
}


.Footer {
    width: 100%;
    height: 150px;
    border: 1px solid black;
}